<!DOCTYPE html>
<html>
  <head>
    <title>Wordcloud</title>
    <meta charset="utf-8">
    <html lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-vivo">
      <a class="navbar-brand" href="#">Text Analytics</a>
    </nav>
    <main class='container-fluid'>
      <%= yield %>
    </main>
  </body>
</html>
